@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@200&display=swap");
:root {
  --easing: cubic-bezier(0.645, 0.045, 0.355, 1);
  --transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  --hamburger-width: 30px;
  --ham-before: top 0.1s ease-in 0.25s, opacity 0.1s ease-in;
  --ham-before-active: top 0.1s ease-out, opacity 0.1s ease-out 0.12s;
  --ham-after: bottom 0.1s ease-in 0.25s,
    transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  --ham-after-active: bottom 0.1s ease-out,
    transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

.jJFfEJ {
  color: #d7e9f7;
}
.particles {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}
.jSIwrL {
  width: 40px;
  position: fixed;
  top: 0px;
  left: auto;
  right: 40px;
  z-index: 15;
  border: 2px dashed #38a3a5;
  cursor: pointer;
  transition: var(--transition);
}
.light__bowl {
  width: 40px;
  position: fixed;
  top: 0px;
  left: auto;
  right: 100px;
  z-index: 15;
  border: 2px dashed #38a3a5;
  cursor: pointer;
  transition: var(--transition);
}
.light {
  background-color: white;
  color: black;
}
.dark {
  background-color: black;
  color: white;
  transition: var(--transition);
}
.light__text {
  color: #122222;
  transition: var(--transition);
}
.dark__text {
  color: white;
  transition: var(--transition);
}
